<footer class="page-footer">
    <div class="container">
      <div class="row px-md-3">
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Navegación</h5>
          <ul class="footer-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/doctores">Doctores</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Información</h5>
          <ul class="footer-menu"> <a>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, ab.</a>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Nuestro objetivo</h5>
          <ul class="footer-menu">
            <li><a>Lorem ipsum dolor sit, amet consectetur adipisicing.</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-3 py-3">
          <h5>Contacto</h5>
          <p class="footer-link mt-2">Neuquen</p>
          <a href="#" class="footer-link">000-000-000</a>
          <a href="#" class="footer-link">hospitalneuquen@yopmail.com</a>

          
        </div>
      </div>

    </div>
  </footer>